<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
	<style type="text/css">
		.item.bold { font-weight: 700; }
	</style>
</head>

<body>
	<div class="ui main container" id="app">
		<div class="ui search">
			<div class="ui icon input">
				<input class="prompt" type="text" v-model="search" placeholder="filtrer" v-on:focus="searching = true;">
				<i class="search icon"></i>
			</div>
		</div>

		<div class="ui list" id="list" v-show="searching">
			<a 
				class="item" 
				v-for="song in filteredSongs" 
				v-on:click="paroles = song.lyrics.verse; copyright = song.properties.copyright; searching = false;">{{ song.properties.songbooks.songbook._entry }} {{ song.properties.titles.title }}</a>
		</div>

		<div class="ui items" v-show="paroles" v-if="!!paroles">
			<div class="item" v-for="verse in paroles">
				<div class="ui list">
					<div class="item" v-bind:class="{bold : verse._name=='c1'}" v-for="v in verse.lines">{{ v }}</p>
				</div>
			</div>
		</div>
		<p>{{ copyright }}</p>
	</div>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
